#judeVid {
  background: url(/assets/images/video-thumb.jpg) cover/ center no-repeat;
  width: 100%;
  height: 100%;
}

.jude-responsive-video {
  width: 100%;
  height: 75vh;
  @media screen and (max-width: 480px) {
    height: 95vh;
  }
}
