<footer class="u-bg-secondary">
  <div class="container">
    <div class="d-flex footer justify-content-between align-items-center">
      <p class="m-0 text-muted">Lorem ipsum Jude Lyon.</p>
      <div class="footer--links--social">
        <a href="#" class="mr-3">
          <img
            class="footer--links--social--icon footer--links--social--icon_facebook "
            src="/assets/icons/facebook-logo-outline.svg"
            alt="facebook"
          />
        </a>

        <a href="#" class="mr-3">
          <img
            class="footer--links--social--icon footer--links--social--icon_twitter "
            src="/assets/icons/twitter-logo-outline.svg"
            alt="twitter"
          />
        </a>

        <a href="#">
          <img
            class="footer--links--social--icon footer--links--social--icon_linkedin "
            src="/assets/icons/linkedin-logo-outline.svg"
            alt="LinkedIn"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
