<footer class="u-bg-secondary">
  <div class="container">
    <div class="d-flex footer justify-content-between align-items-center">
      <p class="m-0 text-muted">All rights reserved, Jude Lyon.</p>
      <div class="footer--links--social">
        <a href="https://www.facebook.com/Telefund/" class="mr-3">
          <img
            class="footer--links--social--icon footer--links--social--icon_facebook "
            src="/assets/icons/facebook.png"
            alt="facebook"
          />
        </a>

        <a
          href="https://www.instagram.com/telefundnz/?fbclid=IwAR2tWRbc0nC_HV31o1z5ksqCwi2RyHXUivkiUrS_w0GWZnWs1sudJDssGcs"
          class="mr-3"
        >
          <img
            class="footer--links--social--icon footer--links--social--icon_twitter "
            src="/assets/icons/instagram.png"
            alt="twitter"
          />
        </a>

        <a href="https://www.linkedin.com/in/jude-lyon-mfinz-j-lyon-consulting-telefund-nz-58b36368/">
          <img
            class="footer--links--social--icon footer--links--social--icon_linkedin "
            src="/assets/icons/linkedin.png"
            alt="LinkedIn"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
