@import "src/theme/variables";
@import "src/theme/base/typography";
@import "src/theme/base/utlities";

.jude-intro {
  &--pic {
    background: url(/assets/images/who-is-Jude.png) bottom no-repeat;
    background-size: contain;
    height: 28rem;
    width: auto;
    z-index: -1;
    -webkit-transform-origin: top;
    transform-origin: bottom;
    -webkit-transform: scale(1.5);
    transform: scale(1);
    border: 1px solid #d1d2cf;
    margin-top: 8px;
    border-radius: 3px;
  }
}
