<div class="row">
  <div class="col-md-8 col-12">
    <div class="h-gutter-medium"></div>
    <h1 class="Jumbo-title">
      Who is
      <span class="Jumbo-title--bold">Jude Lyon.</span>
    </h1>

    <ul class="u-sm-p-0 ">
      <li class="mb-2">Ower of bespoke telemarketing agency - Telefund NZ.</li>
      <li class="mb-2">Speaker at FINZ and Grow NZ events.</li>
      <li class="mb-2">Organisational member of the Fundraising Institute of New Zealand.</li>
      <li class="mb-2">Experienced Coach with over 10 year’s experience in the UK, Australia and New Zealand.</li>
    </ul>
  </div>

  <div class="col-12 col-md-4 overflow-hidden">
    <div class="jude-intro--pic"></div>
  </div>
</div>
