<div class="row">
  <div class="col-12">
    <div class="h-gutter-medium"></div>
    <h2 class="heading-primary">Here are 6 ways we can start working together.</h2>
  </div>
  <div class="col-md-6 col-xs-12 ways">
    <div class="d-flex">
      <span class="ways--numbering one"></span>
      <p class="ways--text">Partner together and diversify your income stream.</p>
    </div>
  </div>

  <div class="col-md-6 col-xs-12 ways">
    <div class="d-flex">
      <span class="ways--numbering two"></span>
      <p class="ways--text">
        Outsource your telemarketing to a passionate troop of kiwis - concentrate on your beneficiaries.
      </p>
    </div>
  </div>

  <div class="col-md-6 col-xs-12 ways">
    <div class="d-flex">
      <span class="ways--numbering three"></span>
      <p class="ways--text">Need an experienced trainer and coach.</p>
    </div>
  </div>

  <div class="col-md-6 col-xs-12 ways">
    <div class="d-flex">
      <span class="ways--numbering four"></span>
      <p class="ways--text">Subscribe to our newsletter.</p>
    </div>
  </div>

  <div class="col-md-6 col-xs-12 ways">
    <div class="d-flex">
      <span class="ways--numbering five"></span>
      <p class="ways--text">Ask for a free consultation.</p>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 ways">
    <div class="d-flex">
      <span class="ways--numbering six"></span>
      <p class="ways--text">
        Benchmark telemarketing KPI’s relevant to the Australia and New Zealand not-for-profit sector.
      </p>
    </div>
  </div>
</div>
