@import "src/theme/variables";
@import "src/theme/base/typography";

.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.banner {
  display: flex;
  height: 95vh;
  overflow: hidden;

  @media screen and (min-width: 1441px) {
    height: 55rem;
  }

  @media screen and (max-width: 1024px) and (min-width: 620px) {
    height: 50rem;
  }

  @media screen and (max-width: 480px) {
    height: 90vh;
  }

  &--text {
    font-size: $heading-primary;
    align-self: center;
    $base-size: 35rem;
  }

  &--image {
    position: relative;
    $base-size: 40rem;

    &_background {
      background: url(/assets/images/brush-stroke.png) center no-repeat;
      background-size: contain;
      height: calc(#{$base-size} * 1.3);
      width: 100%;
      z-index: -1;
      margin-top: calc(#{$base-size} / 10);

      @media screen and (max-width: 480px) {
        height: calc(#{$base-size} * 0.6);
        margin-top: 0;
      }
    }
    &_border {
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        height: $base-size;
        width: $base-size;
        @media screen and (max-width: 768px) {
          height: calc(#{$base-size} * 0.8);
          width: calc(#{$base-size} * 0.8);
        }
        @media screen and (max-width: 480px) {
          height: calc(#{$base-size} * 0.6);
          width: calc(#{$base-size} * 0.6);
        }
      }
      &:before {
        border: 0.75rem solid $color-white;
        border-bottom: 0;
        box-shadow: -0.5rem 0.4rem 0.8rem 0rem rgba($color-dark, 0.3),
          inset 0rem 0.1rem 0.8rem 0rem rgba($color-dark, 0.3);
        z-index: 1;
      }
      &:after {
        border-bottom: 0.75rem solid $color-white;
        z-index: 2;
      }
    }
    &_model {
      background: url(/assets/images/client-1.png) center/contain no-repeat;
      height: calc(#{$base-size - 10} * 1.9);
      width: 100%;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      @media screen and (max-width: 480px) {
        height: calc(#{$base-size} * 1);
        // left: 38%;
      }
    }
  }
}
