<div class="container px-5">
  <div class="row banner">
    <div class="col-md-6 col-xs-12 d-flex">
      <div class="banner--text ">
        <h1 class="Jumbo-title banner--text--main">
          Hello ! <br />
          My Name is <br />
          <span class="Jumbo-title--bold banner--text--main_jude">Jude Lyon.</span>
        </h1>
        <small class="col-10 p-0 heading-primary m-0">Someone we both know <br />wants us to meet.</small>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="banner--image">
        <div class="banner--image_background"></div>
        <div class="banner--image_border"></div>
        <div class="banner--image_model"></div>
      </div>
    </div>

    <!-- <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">Hello</q> -->
  </div>

  <!-- components -->
</div>

<app-videosection></app-videosection>

<div class="container px-5">
  <app-ways-to-work-together></app-ways-to-work-together>
  <app-whoisjude></app-whoisjude>
  <app-connecttoday></app-connecttoday>
  <app-clients></app-clients>
</div>
